*{
	box-sizing: border-box;
}

@font-face {
  font-family: HARRP___;
  src: local("HARRP___"),
       url(HARRP___.TTF);
}
body{
	margin: 15px;
	background-image: url('../images/potterCastle2.jpg');
	background-size: cover;	
	color: #DAA520;
}
.jumbotron{
	background-color: black;
	font-family: HARRP___ !important;
	border-radius: 20px !important;
}
#nextQuestion{
	background-color: black;
	display: block;
	font-family: HARRP___ !important;	
	border-radius: 20px !important;	
	padding: 15px;
	opacity: 0.9;	
}
#optionOne, #optionTwo, #optionThree, #optionFour{
	background-color: black;
	border-radius: 20px !important;
	padding: 10px;	
	opacity: 0.9;
	margin: 10px;
}
input[type="radio"]{
	margin: 20px;
	padding: 2px
}
button{
	margin: 10px;
}

#timer, #questionCounter{
	background-color: black;
	box-sizing: border-box;
	font-family: HARRP___ !important;
	padding: 1px;
	margin: 5px;	
	opacity: 0.9;
	border-radius: 20px !important;	
}

#hiddenStuff{
	display: none;
	background-color: black;
	padding: 1px;
	margin: 5px;	
	opacity: 0.9;
	border-radius: 20px !important;	
	font-family: HARRP___ !important;
}
#hiddenStuff img{
	margin: 5px;
	border-radius: 20px !important;	
}