*{
	box-sizing: border-box;
}

@font-face {
  font-family: HARRP___;
  src: local("HARRP___"),
       url(HARRP___.TTF);
}
body{
	margin: 15px;
	background-image: url('../images/potterCastle2.jpg');
	background-size: cover;	
	font-family: HARRP___ !important;	
	color: #DAA520;
}
.jumbotron, #nextQuestionDiv, #optionOne, #optionTwo, #optionThree, #optionFour, #timerDiv, #questionCounterDiv, #startButtonDiv, #hiddenStuff{
	background-color: black;
	border-radius: 15px !important;
	opacity: 0.8;		
}
.jumbotron{
	display: none;
}

#nextQuestionDiv{
	display: block;
	padding: 15px;	
}
#optionOne, #optionTwo, #optionThree, #optionFour{
	padding: 10px;	
	margin: 10px;
	font-family: "Lucida Grande" !important;
}
input[type="radio"]{
	margin: 25px;
	padding: 2px
}

button{
	margin: 15px;
	background-color: #DAA520;
	color: black;
	font-size: 36px;
}

#timerDiv, #questionCounterDiv{
	display: none;
	padding: 5px;
	margin: 5px;	
}

#hiddenStuff{
	display: none;
	padding: 1px;
	margin: 5px;	
}
#hiddenStuff img{
	margin: 5px;
	border-radius: 15px !important;	
	width: 65%;
	height: auto;
}
#entireTriviaContents{
	display: none;
}

#startButtonDiv{
	width: 75%;
	padding: 5px;
	height: auto;
	position: relative;	

}
#startButtonDiv img{
	border-radius: 15px !important;	
	margin: 5px;
	width: 65%;
}
#startButton{
	position: static;
	margin: auto;
	font-size: 36px;
}
